<div class="panel panel-success">
  <div class="panel-heading panel-success"><h4>Автоматическое решение</h4></div>
  <div id="autoRes" class="panel-body">
    Нет результатов.
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading"><h4>Ручное решение</h4></div>
  <div id="selfRes" class="panel-body">
    Нет результатов.
  </div>
</div>
