<div class="panel panel-info">
  <div class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 center">
          <input type="button" class="btn btn-success" value="Показать машины" onclick="showCars();"> 
        </div>
        <div class="col-md-6 center">
          <input type="button" class="btn btn-danger" value="Скрыть машины" onclick="hideCars();"> 
        </div>
      </div>  
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 center">
          <input id="victims_button" disabled type="button" class="btn btn-danger" value="Установить" onclick="reserve_car();"> 
        </div>
        <div class="col-md-7 center">
          Осталось распределить&nbsp;
          <div id="last_victims_div">
            0
          </div>
          &nbsp;пострадавших. 
        </div>
      </div>  
    </div>  
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 center">
          <input type="button" class="btn btn-success" value="Показать ЛПУ" onclick="showLPYs();">
        </div>
        <div class="col-md-6 center">
          <input type="button" class="btn btn-danger" value="Скрыть ЛПУ" onclick="hideLPYs();">
        </div>
      </div> 
    </div>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


