<!DOCTYPE html>
<html>
	<head>
		 <meta http-equiv="content-type" content="charset=utf-8"/>
	    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<script type="text/javascript">
		var embPlacemark, cord1 = 55.936952, cord2 = 37.343334;
		    var myMap, DTP, DTPx, DTPy;

    ymaps.ready(init);


    function init(){     
        myMap = new ymaps.Map("map", {
            center: [<%= @mapCords[0].to_s + ", " + @mapCords[1].to_s %> ],
            zoom: <%= @mapZoom %>
        });
    }
  
  function generateDTP(){
    if (DTP != null)
	myMap.geoObjects.remove(DTP);
	
    var cords = myMap.getBounds();
    var minx = cords[0][0];
    var miny = cords[0][1];
    var maxx = cords[1][0];
    var maxy = cords[1][1];
    DTPx = Math.random()*(maxx - minx) + minx;
    DTPy = Math.random()*(maxy - miny) + miny;

    DTP = new ymaps.Placemark([DTPx, DTPy], {
      balloonContent: 'ДТП: ' + Math.round(Math.random()*5 + 3) + ' пострадало',
      }, {
	        iconLayout: 'default#image',
	        iconImageHref: 'images/dtp.png',
	        iconImageSize: [60, 60],
	        iconImageOffset: [-30, -30],
	        // Определим интерактивную область над картинкой.
	        iconShape: {
	            type: 'Circle',
	            coordinates: [0, 0],
	            radius: 40
      },
      balloonCloseButton: false,   
      hideIconOnBalloonOpen: false
    });
        
    myMap.geoObjects.add(DTP);
  }

  var lpys, geoLpys = [];

  function showLPYs(){
    var htmlresp;

    var cords = myMap.getBounds();
    var minx = cords[0][0];
    var miny = cords[0][1];
    var maxx = cords[1][0];
    var maxy = cords[1][1];
          
    $.ajax({
      url: "ajax/get_lpys?startx="+minx+
                "&endx="+maxx+"&starty="+miny+"&endy="+maxy,
      cache: false, 
      success: function(htmlresp) {
      lpys = JSON.parse(htmlresp);
      
      for(var i = 0; i < lpys.length; ++i){
        geoLpys[i] = new ymaps.Placemark([lpys[i].x_coord, lpys[i].y_coord], {
          balloonContent: lpys[i].LPYname,
          }, {
	            iconLayout: 'default#image',
	            iconImageHref: 'images/lpy.png',
	            iconImageSize: [20, 20],
	            iconImageOffset: [-10, -10],
	            iconShape: {
	                type: 'Circle',
	                coordinates: [0, 0],
	                radius: 40
              },
              balloonCloseButton: false,   
              hideIconOnBalloonOpen: false
        });
        myMap.geoObjects.add(geoLpys[i]);      
      }
    } 
    });
  }

	function show(){
		var shirv = document.getElementById("shir").value;
		var longv = document.getElementById("long").value;
		ymaps.route([
    { type: 'wayPoint', point: [shirv, longv] },
    { type: 'wayPoint', point: [55.811511, 37.312518] }
], {
    mapStateAutoApply: true
}).then(function (route) {
    route.getPaths().options.set({
        // в балуне выводим только информацию о времени движения с учетом пробок
        balloonContentBodyLayout: ymaps.templateLayoutFactory.createClass('{{ properties.humanJamsTime }}'),
        // можно выставить настройки графики маршруту
        strokeColor: '008888ff',
        opacity: 0.9
    });
	document.getElementById("time").value = route.getJamsTime();
	document.getElementById("dlin").value = route.getLength();
    // добавляем маршрут на карту
    myMap.geoObjects.add(route);
});
	}

var buildFlag, endBuildFlag, res = [], maxDTPQountConst = 100;

function makeResJson(){
  if(res.length == 0 )
    return "none";
  
  var resStr = "[";
  for(var i = 0; i < res.length; i++){
    resStr += JSON.stringify(res[i]);
    resStr += ",";
  }
  resStr+=']';
  
  return resStr;
}

function sendDTPdata(){
    $.post("planning/senddtp", { result : makeResJson() }).done(function( data ) {
    alert( "Data Loaded: " + data );
  });
}

function getDTPData(){
  if(DTPx == null || DTPy == null){
    alert("Поблизости нет ДТП!");
    return;
  }
  if (lpys == null || lpys.length == 0){
    alert("Поблизости нет ЛПУ!");
    return;
  }
  
  if( lpys.length > maxDTPQountConst )
    endBuildFlag = maxDTPQountConst * 2;
  else
    endBuildFlag = (lpys.length - 1) * 2;

  buildFlag = 0;
  getRouteData();
}

function getRouteData(){
  var i = buildFlag/2>>0;
  alert(i);
  if(buildFlag % 2 == 0){
    ymaps.route([ { type: 'wayPoint', point: [DTPx, DTPy] }, 
                  { type: 'wayPoint', point: [lpys[i].x_coord, lpys[i].y_coord] } 
               ]).done(function (route) {
                  var i = buildFlag/2;
                  if( res[i] == null )
                    res[i] = {};
                 res[i].from_time = route.getJamsTime();
                 res[i].from_length = route.getLength();
                 ++buildFlag;
                 getRouteData();
               });
  } else {  
    ymaps.route([ { type: 'wayPoint', point: [lpys[i].x_coord, lpys[i].y_coord] }, 
                  { type: 'wayPoint', point: [DTPx, DTPy] } 
               ]).done(function (route) {
                 if( res[i] == null )
                   res[i] = {};
                 res[i].to_time = route.getJamsTime();
                 res[i].to_length = route.getLength();
                 ++buildFlag;
                 if(buildFlag == endBuildFlag)
                   sendDTPdata();
                 else
                   getRouteData();
               });
  }
}
	
</script>
	</head>
	<body>
		<div id="map" style="position: absolute; right: 200px; left:0px; top: 0px; bottom: 0px">
				
		</div>
		<div id="buttons"style="position: absolute; right: 0px; top: 0px; bottom: 0px; width: 200px;">
			<input type="button" value="Создать ДТП" onclick="generateDTP();">
			<input type="button" value="Показать ЛПУ" onclick="showLPYs();">
      <input type="button" value="Отправить инфо" onclick="getDTPData();">
		</div>
	</body>
</html>
